/*SCHRIFT*/
@import url("https://use.typekit.net/ikm7jrk.css");

@font-face {
    font-family: 'akzidenzgrotesk_regular';
    src: url(/font/AkzidenzGrotesk-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GazetteLTStd-Roman';
    src: url(/font/GazetteLTStd-Roman.otf);
    font-weight: normal;
    font-style: normal;
}





/*GENERAL*/
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert das Scrollen der Startseite */

    /*BACKGROUND*/
    background-color: rgb(255, 255, 255);

    /*FONT*/
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
}





/*HEADER*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0);
    z-index: 1000; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 15px 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    margin: 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    height: calc(100vh - 100px); /* Höhe des Hauptbereichs */
    box-sizing: border-box; /* Bezieht Padding in die Höhe mit ein */
}

#projects {
    width: 100%; /* Volle Breite des Viewports */
    height: 100%;
    padding: 0; /* Padding für den Container */
    margin-top: 3%;
    box-sizing:border-box;
}

.project-container {
    margin:0; /* Abstand zwischen den Projekten */
    padding: 0;
    height: 100%;
}

.project {
    justify-content: space-between;
    width: 100%; /* Ändere diesen Wert, um die Größe der Projektblöcke anzupassen */
    max-width: 100%;
    margin: 0;
    background-color: #f0f0f000;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.project-details {
    text-align: justify; /* Zentriert den Text */
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.project-description {
    flex-direction: row;
    text-align: justify;
    justify-content:space-between;
    text-justify:inter-word;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
    width: 100%; /* Setzt die Breite auf die gesamte Viewport-Breite */
    height: 100%;
    box-sizing: border-box; /* Bezieht Padding in die Breite mit ein */
    line-height: 0.5;
}


.justify-text{
    text-align: justify; /* Blocksatz für den Text innerhalb des Paragraphs */
    text-justify: inter-word; /* Verteilte Wortabstände */
    margin: 0; /* Außenabstand auf null setzen */
    padding: 0 20px; /* Innenabstand für den Text für bessere Lesbarkeit hinzufügen */
    width: 100%; /* Nutzt die gesamte Breite des Containers */
    height: 100%;
    box-sizing: border-box; /* Bezieht Padding in die Breite mit ein */
}


.project:hover {
    transform: scale(1.01);
}

.project-description::after{
    content: "";
    display: inline-block;
    width: 100%; /* Nutzt die gesamte Breite des Containers */
    height: 100%;
}








/* Media Query für mobile Geräte */
@media (max-width: 768px) {
    .project {
        width: 100%; /* Volle Breite auf kleineren Bildschirmen */
    }

    .project-description {
        font-size: 14px; /* Kleinere Schriftgröße für die Beschreibung */
        text-align: justify; /* Linksbündiger Text auf kleinen Bildschirmen */
        width: auto; /* Automatische Breite für kleinere Bildschirme */
        position: static; /* Position auf `static`, um horizontale Zentrierung zu entfernen */
        left: auto; /* Entfernt die horizontale Verschiebung */
    }

    .nav ul li a{
        font-size: 14px; /* Kleinere Schriftgröße für die Beschreibung */
        text-align: justify; /* Linksbündiger Text auf kleinen Bildschirmen */
        width: auto; /* Automatische Breite für kleinere Bildschirme */
        position: static; /* Position auf `static`, um horizontale Zentrierung zu entfernen */
        left: auto; /* Entfernt die horizontale Verschiebung */ 
    }
}

