/*SCHRIFT*/
@import url("https://use.typekit.net/ikm7jrk.css");

@font-face {
    font-family: 'akzidenzgrotesk_regular';
    src: url(/font/AkzidenzGrotesk-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GazetteLTStd-Roman';
    src: url(/font/GazetteLTStd-Roman.otf);
    font-weight: normal;
    font-style: normal;
}





/*GENERAL*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: "lft-etica-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
}

