/*SCHRIFT*/
@import url("https://use.typekit.net/ikm7jrk.css");

@font-face {
    font-family: 'akzidenzgrotesk_regular';
    src: url(/font/AkzidenzGrotesk-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GazetteLTStd-Roman';
    src: url(/font/GazetteLTStd-Roman.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url(/font/SuisseIntl-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url(/font/SuisseIntl-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl-Medium';
    src: url(/font/SuisseIntl-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neonsign-regular-webfont';
    src: url(/font/neonsign-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'franganic';
    src: url(/font/CHBWide-Regular.otf);
    font-weight: bold;
    font-style: normal;
}





/*GENERAL*/
html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
    overflow-y: hidden;
    /*BACKGROUND*/
    /*background-color: rgb(0, 0, 255);*/
    /*background-image: url('/images/Startseite/AugeRaster.png');*/
    height: 100%;
    display: flex;
    flex-direction: column;
}

p{
    /*text-align: justify;*/
    text-justify: inter-word;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(249, 28, 65);
    font-style: italic;
    }








/*HEADER*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0); 
    z-index: 1100;
            /*FONT*/
            font-family: "SuisseIntl-Bold", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 2.2rem;
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav ul li {
    padding: 15px 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



/* Logo container styling */
.logo-container {
    display: flex;
    align-items: center; /* Center items vertically */
    text-decoration: none;
    transition: filter 0.5s ease; /* Animiere die Filtereigenschaft */
}

.logo {
    height: 100px; /* Adjust height as needed */
    width: auto;
    margin-right: 17px; /* Space between logo and text */
    transition: filter 0.5s ease; /* Animiere die Filtereigenschaft */
}

.logo-container span {
    font-size: 2.2rem; /* Adjust font size as needed */
    color: black; /* Ensure text color is visible */
}









/*BULLETPOINT*/
#bulletpoint-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bulletpoint-icon {
    position: relative;
    width: 15%;
    height: 15%;
    pointer-events: auto;
    transition: transform 1s ease-in-out, fill 0.1s ease;
    padding-right: 15px;
}

.bulletpoint-icon:hover, 
.bulletpoint-icon:active {
    animation: rotate-fast 1s linear infinite;
    fill: rgb(249, 28, 65);
}

.top-left {
    top: 15%; /* Adjusted to be below the header */
    left: 0;
}

.top-right {
    top: 15%; /* Adjusted to be below the header */
    right: 0;
}

.bottom-left {
    bottom: 1%;
    left: 0;
}

.bottom-right {
    bottom: 1%;
    right: 0;
}

@keyframes rotate-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-fast {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the slow rotation animation to all bullet point icons */
.bulletpoint-icon {
    animation: rotate-slow 20s linear infinite;
}









/* Header unit styling */
#header-unit {
    display: flex;
    align-items: center; /* Center items vertically */
    font-size: 2.2rem;
}

/* Kontakt-Link-Stile */
#contact-link{
    display: flex;
    align-items: center;
    font-size: 2.2rem; /* Schriftgröße des Links */
}

#contact-link a {
    color: black; /* Textfarbe des Links */
    text-decoration: none;
    font-size: 2.2rem; /* Schriftgröße des Links */
}

#contact-link a:hover {
    color: rgb(255, 28, 65)
}




/*HOVER LOGO*/
#header-unit .logo-container:hover img {
    content: url('/LogoChalid_k.png'); /* Pfad zum neuen Bild */
}

#header-unit .logo-container img.hover-image {
    opacity: 0;
}

#header-unit .logo-container:hover img.original-image {
    opacity: 0;
}

#header-unit .logo-container:hover img.hover-image {
    opacity: 1;
}

/* Um sicherzustellen, dass der Hover-Effekt auf das gesamte Container-Element wirkt */
#header-unit .logo-container span {
    position: relative;
    z-index: 2;
}










/* Animated SVG Logo Styles */
#animated-logo {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 200;
}

#animated-logo svg {
    transition: transform 0.3s ease-in-out;
    min-height: fit-content;
}








.container-startseite {
    display: flex;
    flex-direction: row; /* Nebeneinander auf großen Bildschirmen */
    align-items: center; /* Zentrierung entlang der Querachse */
    justify-content: space-between; /* Abstand zwischen den Elementen */
    width: 100%;
    height: 100vh; /* Vollbildhöhe für das Container */
    overflow: hidden; /* Verhindert Scrollen */
}




/* Video container styling */
.video {
    margin: 7rem 0;
    max-width: 18%; /* Setzt die maximale Breite des Videos auf 80% der Viewport-Breite */
    height: auto; /* Erhält das Seitenverhältnis des Videos */
    display: block; /* Entfernt unerwünschte Abstände unter dem Video */
    margin-left: auto; /* Zentriert das Video */
    margin-right: auto; /* Zentriert das Video */
    z-index: 20; /* Hintergrund hinter dem Text */
}


.video video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}






.text-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Überlagert das Video */
    /*background-color: rgb(255, 192, 189);*/
    text-align: center;
    flex-direction: row;
    /*gap: 10px;*/
    justify-content: space-between;
}

.portfoliotitelone{
    font-size: 16vw;
    color: rgb(0, 0, 0);
    font-family: "franganic", sans-serif;
    /*font-weight: 500;*/
    font-style: normal;
    z-index: 0;
    line-height: 1;
    margin: 0;
    padding-bottom: 10px;
    white-space: nowrap; /* Verhindert Umbruch im Text */
}

.portfoliotiteltwo{
font-family: "SuisseIntl-Bold", sans-serif;
font-size: 2.2rem;
line-height: 1;
margin: 0;
padding: 0;
margin-bottom: var(--text-spacing); /* Abstand nach unten */
margin-left: 20px;
}

.portfoliotitelone .port,
.portfoliotitelone .folio {
    display: inline; /* Stellt sicher, dass beide Teile nebeneinander bleiben */
}

:root {
    --text-spacing: 0;
}













/* Mobile Ansicht */
@media (max-width: 768px) {
    main {
        margin-top: 1%; /* Platz für den fixierten Header */
        display: block;
        height: auto;
        box-sizing: border-box;
        overflow-y: auto; /* Ermöglicht vertikales Scrollen */
        margin-bottom: 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    body {
        font-size: 17px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

 
    #header-unit{
    font-size: 17px;
    }

    .project {
        width: 100%; /* Volle Breite auf kleineren Bildschirmen */
    }

   

    .nav ul li a {
        font-size: 12px; /* Kleinere Schriftgröße für die Beschreibung */
        text-align: justify; /* Linksbündiger Text auf kleinen Bildschirmen */
        width: auto; /* Automatische Breite für kleinere Bildschirme */
        position: static; /* Position auf `static`, um horizontale Zentrierung zu entfernen */
        left: auto; /* Entfernt die horizontale Verschiebung */
    }

  

  /* Anpassen des Logo-Containers für kleine Bildschirme */
  .logo-container {
    flex-direction: column; /* Logo und Text vertikal stapeln */
    align-items: center; /* Zentrieren */
}

/* Schriftgröße des Textes neben dem Logo */
.logo-text {
    font-size: 0.9rem; /* Schriftgröße für kleinere Bildschirme */
}

/* Schriftgröße des Kontakt-Links */
#contact-link a {
    font-size: 17px; /* Schriftgröße für kleinere Bildschirme */
}
   /* Anpassung der Höhe des Logos für sehr kleine Bildschirme */
   .logo {
    height: 50px; /* Noch kleinere Höhe des Logos für sehr kleine Bildschirme */
}



#animated-logo{
    width: 100vw; /* Volle Breite für beide Abschnitte */
    height: auto;
}

.bulletpoint-icon {
    pointer-events: none; /* Macht das Icon nicht anwählbar von Anfang an */
    padding-right: 15px;
    margin-right: 25px;
}

.bulletpoint-icon.rotated {
    pointer-events: none; /* Macht das Icon weiterhin nicht anwählbar, auch während der Animation */
}




/* Animation für die Rotation */
@keyframes rotate-on-click {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bulletpoint-icon.no-repeat {
    animation: none;
}


#animated-logo {
    width: 100vw; /* Volle Breite für den Logo-Container */
    height: auto; /* Höhe automatisch anpassen */
    margin-top: 10vh; /* Abstand vom oberen Rand des Viewports */
}

.bulletpoint-icon{
    height: 12%;
    width: 12%;
    cursor: pointer;
    padding-right: 15px;
    padding-bottom: 3px;
}

.video{
    max-width: 80%;
    padding: 0;
}

.text-container{
    flex-direction: row;
    align-items: end;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    justify-content:space-between;
    margin-right: 20px;
}

.portfoliotitelone {
    font-size: 3rem; /* Kleinere Textgröße für mobile Geräte */
    margin: 0;
  }

  #header-unit .logo-container.active img.original-image {
    opacity: 0; /* Versteckt das ursprüngliche Bild beim Klick auf mobile Geräten */
}

#header-unit .logo-container.active img.hover-image {
    opacity: 1; /* Zeigt das zweite Bild beim Klick auf mobile Geräten */
}

}

